<%= javascript_tag("
    function show_students(target)
    {
        $$('.student_group_div').each(function (e) {e.hide();});

        var el = $(target).next('div');
        el.show();
    }
") %>

<% @course.students.group_by(&:language).each do |lang, students| %>
    <div>
        <h3 style='cursor: pointer' onclick='show_students(this)'><%= lang.name %></h3>
        <div class="student_group_div" style="display: none">
            <ul class='thumbs'>
                <%= render :partial => 'students/student',
                           :collection => students,
                           :locals => {:href_func => lambda{|st| course_student_url(@course.id, st.id)}} %>
            </ul>
        </div>
    </div>
<% end %>