<h1>Welcome to Oi Kabum, <%= @recipient %></h1>

You can login to the system, using following credentials:<br />
<strong>Login: </strong> <%= @login %>     <br />
<strong>Password: </strong> <%= @password %>  <br />