<h2>Parceiros envolvidos</h2>

<div id='partner_create_edit_form'>
    <%= render :partial => 'partners/partner_new',
               :locals => {:partner => partner} %>
</div>

<div id='partners_list_div'>
    <table id='partners_list'>
        <tr>
            <th>Nome do parceiro</th>
            <th>Finalidade</th>
        </tr>
        <%= render :partial => 'partners/partner_line',
                   :collection => course.partners %>
    </table>
</div>