<% # initialize optional arguments of partial
   href_func ||= nil %>

<li>
    <h3 class="aberto"><a href="#"><%= h language.name %></a></h3>
    <ul class="thumbs" id="language_<%= language.id %>">
        <%= render :partial => 'students/student',
                   :collection => students,
                   :locals => {:href_func => href_func} %>
    </ul>
    <hr/>
</li>
