<li>
  <%= link_to(((	image_tag student.photo.url(:thumb)) + student.name),
          {:controller => 'students', :action => 'show',
          :course_id => student.course.id, :id => student.id, :_method => :get}, :class => "lbOn" ) %>
</li>
