<div style='text-align:center'><%= link_to 'Adicionar prazo', new_course_deadline_url(@course.id) %></div>
<ul id="dash" class="max2">
    <li class="col1">
        <table>
            <tr>
                <td colspan='3'>Prazos nao cumpridos</td>
            </tr>
            <tr>
                <td>Rio de Janeiro</td>
                <td>Coordenador</td>
                <td>23/02/2010</td>
            </tr>
            <tr>
                <td>Rio de Janeiro</td>
                <td>Coordenador</td>
                <td>23/02/2010</td>
            </tr>
            <tr>
                <td colspan='3'>Proximas datas</td>
            </tr>
            <tr>
                <td>Rio de Janeiro</td>
                <td>Coordenador</td>
                <td>23/02/2010</td>
            </tr>
            <tr>
                <td>Rio de Janeiro</td>
                <td>Coordenador</td>
                <td>23/02/2010</td>
            </tr>
            <tr>
                <td>Rio de Janeiro</td>
                <td>Coordenador</td>
                <td>23/02/2010</td>
            </tr>
        </table>
    </li>
    <li class='col2'>
        <table>
        <% @courses.each do |c| %>
            <tr><td><h3><%= c.school.name %></h3></td></tr>
            <% c.reports_with_deadlines.
                    select{|rwd| rwd.status == 1}.
                    sort{|lhs, rhs| rhs.updated_at <=> lhs.updated_at}.
                    first(10).
                    each do |rwd| %>
                <tr> <td>
                    <strong><%= rwd.name %></strong>
                    <a href='<%= eval(rwd.report.link) + '?domain_user_id=' + rwd.user.domain_user.id.to_s %>'>VER</a>
                </td></tr>
            <% end %>
        <% end %>
            </table>

    </li>
    </ul>
