<h2>Resultado da busca</h2>

<ul>

    <% report_search_results.each do |name, rwds| %>
        <li><h3><%= name %></h3></li>
        <% rwds.each do |rwd| %>
            <li>
                <%= rwd.name %> <br/>

            </li>

        <% end %>
    <% end %>
</ul>
