<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">



<head>
    <title>OI KABUM! Extranet/ Marco Zero</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="OI KABUM!" />
    <meta name="keywords" content="OI KABUM!" />

	<style type="text/css">
		/*<![CDATA[*/
		@import url('../stylesheets/all.css');
		/*]]>*/
	</style>

	<!--[if lte IE 6]><style type="text/css">/*<![CDATA[*/@import url('../stylesheets/ie6.css');/*]]>*/</style><![endif]-->

	<!--script src="../scripts/prototype.js" type="text/javascript"></script>
	<script src="../scripts/scriptaculous.js" type="text/javascript"></script-->
</head>



<body class="interna">
	
	<div id="principal">
		<div class="fixed-wrap overlay">
			<div class="fixed">
				<div id="barra"></div>
					
				<h1 id="logo"><a href="#"><img src="../images/oi_kabum_extranet.png" width="148" height="124" alt="OI KABUM! Extranet" /></a></h1>

				<div id="user">
					<p>{nome do usuário} <span class="separa">|</span> <a href="#">efetuar log-off</a></p>
				</div>
			</div>
		</div>

		<h1 class="no-display">Marco Zero</h1>		
		<div id="corpo">
			<div class="aviso-wrap"><!-- AVISO -->
				<div class="aviso">
					<p><strong>Importante: Deadline para preenchimento<br /> de Marco Zero até o dia XX/XX/2009</strong></p>
					<p><small>caso já tenha preenchido, finalize o processo no <a href="#">botão correspondente</a>.</small></p>
				</div>
			</div>


	
			<ul><!-- TODO CONTEUDO ENTRA NESSA UL -->
				<li>
					<h2 class="aberto"><a href="#">Período da Turma</a></h2>
					<p class="topo"><a href="#">topo</a></p>
					<ol>
						<li>
							<h4>Período de {mês} de {ano} a {mês} de {ano}</h4>
						</li>
					</ol>
				</li>
				<li>
					<h2 class="aberto"><a href="#">Descritivos</a></h2>
					<p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
					<p class="topo"><a href="#">topo</a></p>
					<ol><!-- INICIO CONTEUDO NUMERADO-->
						<li>
							<form action="index.html">
								<h4><label for="obj1">Quais são os objetivos a serem alcançados neste período?</label></h4>
								<p><textarea rows="15" cols="100" id="obj1">Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea></p>
								<p class="right"><input type="submit" value="Salvar" /></p>
							</form>
							<hr />
						</li>
						<li>
							<form action="index.html">
								<h4><label for="obj1">Quais são os resultados esperados?</label></h4>
								<p><textarea rows="15" cols="100" id="obj1">Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea></p>
								<p class="right"><input type="submit" value="Salvar" /></p>
							</form>
							<hr />
						</li>
						<li>
							<form action="index.html">
								<h4><label for="obj1">Descreva como foi o processo seletivo:</label></h4>
								<p><textarea rows="15" cols="100" id="obj1">Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea></p>
								<p class="right"><input type="submit" value="Salvar" /></p>
							</form>
							<hr />
						</li>
						<li>
							<form action="index.html">
								<h4><label for="obj1">Descreva quais comunidades e o perfil das que foram atendidas nesta edição do programa:</label></h4>
								<p><textarea rows="15" cols="100" id="obj1">Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea></p>
								<p class="right"><input type="submit" value="Salvar" /></p>
							</form>
							<hr />
						</li>
						<li>
							<form action="index.html">
								<h4><label for="obj1">Descreva o perfil geral dos jovens selecionados:</label></h4>
								<p><textarea rows="15" cols="100" id="obj1">Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea></p>
								<p class="right"><input type="submit" value="Salvar" /></p>
							</form>
						</li>
					</ol>
				</li>
				<li>
					<h2 class="aberto"><a href="#">Perfil Geral dos Jovens</a></h2>
					<p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
					<p class="topo"><a href="#">topo</a></p>
					<div class="form">
						<form action="index.html">
							<ol>
								<li>
									<div class="max2">
										<h4 class="col1"><label for="obj7">Sexo:</label>
											<select id="obj4">
												<option selected="selected">Selecione</option>
												<option>Masculino</option>
												<option>Feminino</option>
											</select>
										</h4>
										<h4 class="col2">
											<label for="obj7">Idades entre:</label>
												<select id="obj4">
													<option selected="selected">--</option>
													<option>10</option>
													<option>11</option>
													<option>12</option>
													<option>13</option>
													<option>14</option>
													<option>15</option>
													<option>16</option>
													<option>17</option>
													<option>18</option>
												</select> e
												<select id="obj4">
													<option selected="selected">--</option>
													<option>10</option>
													<option>11</option>
													<option>12</option>
													<option>13</option>
													<option>14</option>
													<option>15</option>
													<option>16</option>
													<option>17</option>
													<option>18</option>
												</select> anos.
										</h4>
									</div>
										<h4><label for="obj7">Escolaridade:</label>
											<select id="obj4">
												<option selected="selected">Selecione</option>
												<option>Fundamental Incompleto</option>
												<option>Fundamental Completo</option>
												<option>Médio Incompleto</option>
												<option>Médio Completo</option>
											</select>
										</h4>
									<hr />
								</li>
								<li>
									<h4><label for="obj8">Observações:</label></h4>
									<p>
										<textarea rows="15" cols="100" id="obj8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea>
									</p>
								</li>
							</ol>
							<p class="submit"><input type="submit" value="Salvar" /></p>
						</form>
					</div>
				</li>
				<li>
					<h2 class="aberto"><a href="#">Equipe do Projeto</a> <a href="#" class="botao-inline">[adicionar]</a></h2>
					<p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
					<p class="topo"><a href="#">topo</a></p>
					<div class="form">
						<form action="index.html">
							<ol>
								<li>
									<div class="max2">
										<h4 class="col1"><label for="obj2">Nome:</label> <input type="text" id="obj2" value="Augusto Souza"></input></h4>
										<h4 class="col2"><label for="obj3">E-mail:</label> <input type="text" id="obj3" value="augusto.souza@hotmail.com"></input> <small>(será o login do sistema)</small></h4>
									</div>
									<div class="max2">
										<h4 class="col1"><label for="obj4">Função:</label>
											<select id="obj4">
												<option selected="selected">Selecione</option>
												<option>Educador de Linguagem</option>
												<option>Educador Transversal</option>
											</select>
										</h4>
										<h4 class="col2"><label for="obj4">Linguagem:</label>
											<select id="obj4">
												<option selected="selected">Selecione</option>
												<option>{Nome da linguagem aqui}</option>
											</select>
										</h4>
									</div>
									<hr />
								</li>
								<li>
									<h4><label for="obj5">Competências a serem desenvolvidas:</label></h4>
									<p>
										<textarea rows="15" cols="100" id="obj5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea>
									</p>
									<hr />
								</li>
								<li>
									<h4><label for="obj6">Currículo resumido:</label></h4>
									<p>
										<textarea rows="15" cols="100" id="obj6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea>
									</p>
								</li>
							</ol>
							<p class="submit"><input type="submit" value="Salvar" /></p>
						</form>
					</div>
					<ul class="table">
						<li>
							<table summary="">
								<thead>
									<tr>
										<td class="w150">Nome</td>
										<td>Descrição</td>
										<td class="w75 no-print">Currículo</td>
										<td class="w75 no-print">Ações</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><span class="principal">Christiano Calvet</span><br />Educador de Vídeo</td>
										<td>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. <a href="#" class="botao-inline">[expandir]</a></td>
										<td class="no-print"><a href="#" class="botao-inline">[visualizar]</a></td>
										<td class="no-print"><a href="#" class="botao-inline">[editar]</a><br /><a href="#" class="botao-inline">[deletar]</a></td>
									</tr>
									<tr class="zebra">
										<td><span class="principal">Marcos Leme</span><br />Educador de Fotografia</td>
										<td>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. <a href="#" class="botao-inline">[expandir]</a></td>
										<td class="no-print"><a href="#" class="botao-inline">[visualizar]</a></td>
										<td class="no-print"><a href="#" class="botao-inline">[editar]</a><br /><a href="#" class="botao-inline">[deletar]</a></td>
									</tr>
									<tr>
										<td><span class="principal">Marcelo Murad</span><br />Educador de Web Design</td>
										<td>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. <a href="#" class="botao-inline">[expandir]</a></td>
										<td class="no-print"><a href="#" class="botao-inline">[visualizar]</a></td>
										<td class="no-print"><a href="#" class="botao-inline">[editar]</a><br /><a href="#" class="botao-inline">[deletar]</a></td>
									</tr>
								</tbody>
							</table>
						</li>
					</ul>
				</li>
				<li>
					<h2 class="aberto"><a href="#">Planejamento</a> <a href="#" class="botao-inline">[adicionar]</a></h2>
					<p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
					<p class="topo"><a href="#">topo</a></p>
					<div class="form">
						<form action="index.html">
							<ol>
								<li>
									<div class="max2">
										<h4 class="col1"><label for="obj4">Linguagem:</label>
											<select id="obj4">
												<option selected="selected">Selecione</option>
												<option>{Nome da linguagem aqui}</option>
											</select>
										</h4>
										<h4 class="col2"><label for="obj4">Período:</label>
											<select id="obj4">
												<option selected="selected">mês</option>
												<option>jan</option>
											</select> de 
											<input type="text" id="obj7" value="1988" class="ano"></input> a 
											<select id="obj4">
												<option selected="selected">mês</option>
												<option>jan</option>
											</select> de 
											<input type="text" id="obj7" value="1988" class="ano"></input>
										</h4>
									</div>
									<hr />
								</li>
								<li>
									<h4><label for="obj5">Atividades Propostas:</label></h4>
									<p>
										<textarea rows="15" cols="100" id="obj5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea>
									</p>
									<hr />
								</li>
								<li>
									<h4><label for="obj6">Metodologia:</label></h4>
									<p>
										<textarea rows="15" cols="100" id="obj6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea>
									</p>
								</li>
							</ol>
							<p class="submit"><input type="submit" value="Salvar" /></p>
						</form>
					</div>
					<ul class="table">
						<li><h3 class="fechado"><a href="#">{Nome da Linguagem}</a></h3>
							<!-- AQUI ENTRA UMA TABELA -->
							<hr />
						</li>
						<li><h3 class="fechado"><a href="#">{Nome da Linguagem}</a></h3>
							<!-- AQUI ENTRA UMA TABELA -->
							<hr />
						</li>
						<li><h3 class="aberto"><a href="#">{Nome da Linguagem}</a></h3>
							<ul>
								<li>
									<table summary="{Nome da Linguagem}">
										<thead>
											<tr>
												<td class="w200">Atividades Propostas</td>
												<td>Metodologia</td>
												<td class="w75">Período</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><span class="principal">Nome da Atividade</span></td>
												<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. <a href="#" class="botao-inline">[expandir]</a></td>
												<td>{mês/XXXX} a {mês/XXXX}</td>
											</tr>
											<tr class="zebra">
												<td><span class="principal">Nome da Atividade</span></td>
												<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. <a href="#" class="botao-inline">[expandir]</a></td>
												<td>{mês/XXXX} a {mês/XXXX}</td>											</tr>
										</tbody>
									</table>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<h2 class="aberto"><a href="#">Parceiros Envolvidos</a> <a href="#" class="botao-inline">[adicionar]</a></h2>
					<p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
					<p class="topo"><a href="#">topo</a></p>
					<div class="form">
						<form action="index.html">
							<ol>
								<li>
									<h4><label for="obj7">Parcerias Estabelecidas:</label> <input type="text" id="obj7" value="Oi Futuro"></input></h4>
									<hr />
								</li>
								<li>
									<h4><label for="obj8">Finalidade da Parceria:</label></h4>
									<p>
										<textarea rows="15" cols="100" id="obj8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea>
									</p>
								</li>
							</ol>
							<p class="submit"><input type="submit" value="Salvar" /></p>
						</form>
					</div>
					<ul class="table">
						<li>
							<table summary="{Nome do Parceiro}">
								<thead>
									<tr>
										<td class="w150">Nome do Parceiro</td>
										<td>Descrição</td>
										<td class="w75 no-print">Ações</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><span class="principal">Nome do Parceiro</span></td>
										<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. <a href="#" class="botao-inline">[expandir]</a></td>
										<td class="no-print"><a href="#" class="botao-inline">[editar]</a><br /><a href="#" class="botao-inline">[deletar]</a></td>
									</tr>
									<tr class="zebra">
										<td><span class="principal">Nome do Parceiro</span></td>
										<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. <a href="#" class="botao-inline">[expandir]</a></td>
										<td class="no-print"><a href="#" class="botao-inline">[editar]</a><br /><a href="#" class="botao-inline">[deletar]</a></td>
									</tr>
								</tbody>
							</table>
						</li>
					</ul>
				</li>
				<li>
					<h2 class="aberto"><a href="#">Observações Finais</a></h2>
					<p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
					<p class="topo"><a href="#">topo</a></p>
					<ol>
						<li>
							<form action="index.html">
								<h4><label for="obj9">Comentários da Coordenação: <small>(não é obrigatório)</small></label></h4>
								<p><textarea rows="15" cols="100" id="obj9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea></p>
								<p class="right"><input type="submit" value="Salvar" /></p>
							</form>
							<hr />
						</li>
						<li>
							<h4>Comentários do Oi Futuro:</h4>
							<div class="comentario">
								<p>{Área preenchida pelo gestor}</p>
							</div>
						</li>
					</ol>
				</li>

			</ul>


			<div id="finalizar">
				<a href="#">Finalizar Relatório</a>
			</div>
		</div>
	
		<hr class="no-display" />


		<div class="fixed-wrap">
			<div class="fixed">
				<div id="header"></div>
								
				<div id="menu">
					<h5 class="no-display">Menu Principal</h5>
					<ul>
						<li class="selected"><a href="a_marcozero.html">Marco Zero</a></li>
						<li><a href="b_linguagem.html">Escolha das Linguagens</a></li>
						<li><a href="c_relatorio_01.html">Relatórios de Conteúdo</a></li>
						<li><a href="d_relatorio_f.html">Relatório Final</a></li>
						<li><a href="e_relatorio_edu.html">Relatório Educadores</a></li>
					</ul>
				</div>

				<div id="lateral">
					<h5 class="fundo">Navegação Rápida</h5>
					<ul>
						<li class="preenchido"><a href="#">Período</a></li>
						<li class="em-branco"><a href="#">Descritivos</a></li>
						<li class="em-branco"><a href="#">Perfil Geral dos Jovens</a></li>
						<li class="em-branco"><a href="#">Equipe do Projeto</a></li>
						<li class="em-branco"><a href="#">Planejamento</a></li>
						<li class="em-branco"><a href="#">Parceiros Envolvidos</a></li>
						<li class="em-branco"><a href="#">Observações Finais</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="footer">
			<div class="col max">
				<h5>Coordenadores</h5>
				<ul>
					<li><a href="a_marcozero.html"><strong>Marco Zero</strong></a></li>
					<li><a href="b_linguagem.html"><strong>Escolha das Linguagens</strong></a></li>
					<li><a href="c_relatorio_01.html"><strong>Relatórios de Conteúdo</strong></a></li>
				</ul>
			</div>
			<div class="col max no-title">
				<ul>
					<li><a href="d_relatorio_f.html"><strong>Relatório Final</strong></a></li>
					<li><a href="e_relatorio_edu.html"><strong>Relatório Educadores</strong></a></li>
				</ul>
			</div>
			<div class="col max">
				<h5>Contato Oi Futuro</h5>
				<ul>
					<li><strong>Edson Cardoso Nunes</strong></li>
					<li><a href="#">edson@oifuturo.gov.br</a></li>
					<li>21 9000-0000 (ramal 001)</li>
				</ul>
			</div>
			<div class="col min">
				<h5>Ações</h5>
				<ul>
					<li><a href="#"><strong>Imprimir página</strong></a></li>
					<li><a href="#"><strong>Voltar ao topo</strong></a></li>
					<li><a href="#"><strong>Efetuar log-off</strong></a></li>
				</ul>
			</div>
		</div>

	</div>

</body>



</html>