<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">



<head>
    <title>OI KABUM! Extranet</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="OI KABUM!" />
    <meta name="keywords" content="OI KABUM!" />

	<style type="text/css">
		/*<![CDATA[*/
		@import url('../stylesheets/all.css');
		/*]]>*/
	</style>

	<!--[if lte IE 6]><style type="text/css">/*<![CDATA[*/@import url('../stylesheets/ie6.css');/*]]>*/</style><![endif]-->

	<!--script src="../scripts/prototype.js" type="text/javascript"></script>
	<script src="../scripts/scriptaculous.js" type="text/javascript"></script-->
</head>



<body class="interna dashboard">
	
	<div id="principal">
		<div class="fixed-wrap overlay">
			<div class="fixed">
				<div id="barra"></div>
					
				<h1 id="logo"><a href="#"><img src="../images/oi_kabum_extranet.png" width="148" height="124" alt="OI KABUM! Extranet" /></a></h1>

				<div id="user">
					<p>Leonardo Favre <span class="separa">|</span> <a href="#">efetuar log-off</a></p>
				</div>
			</div>
		</div>

		<h1 class="no-display">Marco Zero</h1>		
		<div id="corpo">
			<div class="aviso-wrap">
				<div class="aviso">
					<p><strong>Importante: Deadline para preenchimento<br /> de Relatório de Conteúdo até o dia 29/05/2009</strong></p>
					<p><small>caso já tenha preenchido, finalize o processo no <a href="#">botão correspondente</a>.</small></p>
				</div>
			</div>
			
			<ul id="dash" class="max2">
				<li class="col1">
					<h2>Detalhes de Preenchimento</h2>
					<ul id="dash-status">
						<li class="preenchido"><a href="#">Marco Zero <small>preenchido</small></a></li>
						<li class="pendente"><a href="#">Escolha das Linguagens <small>em andamento</small></a></li>
						<li class="em-branco"><a href="#">Relatório – 1º Trimestre <small>em branco</small></a></li>
						<li class="atencao"><a href="#">Relatório – 2º Trimestre <small>incompleto</small></a></li>
						<li class="preenchido"><a href="#">Relatório – 3º Trimestre <small>preenchido</small></a></li>
						<li class="desabilitado">Relatório – 4º Trimestre <small>aguardando gestor</small></li>
						<li class="desabilitado">Relatório – 5º Trimestre <small>aguardando gestor</small></li>
						<li class="desabilitado">Relatório – 6º Trimestre <small>aguardando gestor</small></li>
						<li class="desabilitado">Relatório Final <small>aguardando gestor</small></li>
					</ul>
				</li>

				<li class="col2">
					<h2>Comentários do Oi Futuro</h2>
					<ul id="dash-comentarios">
						<li>
							<h4>09/02/2009 <span class="separa">|</span> Marco Zero:</h4>
							<p>Lorem ipsum dolor sit amet. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi leo, eget blandit nunc tortor eu nibh.
								<a href="#" class="botao-inline">[leia&nbsp;mais]</a>
							</p>
						</li>
						<li>
							<h4>09/02/2009 <span class="separa">|</span> Escolha das Linguagens:</h4>
							<p>Lorem ipsum dolor sit amet. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi leo, eget blandit nunc tortor eu nibh.
								<a href="#" class="botao-inline">[leia&nbsp;mais]</a>
							</p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	
		<hr class="no-display" />


		<div class="fixed-wrap">
			<div class="fixed">
				<div id="header"></div>
				
				<div id="menu">
					<h5 class="no-display">Menu Principal</h5>
					<ul>
						<li><a href="a_marcozero.html">Marco Zero</a></li>
						<li><a href="b_linguagem.html">Escolha das Linguagens</a></li>
						<li><a href="c_relatorio_01.html">Relatórios de Conteúdo</a></li>
						<li><a href="d_relatorio_f.html">Relatório Final</a></li>
						<li><a href="e_relatorio_edu.html">Relatório Educadores</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="footer">
			<div class="col max">
				<h5>Coordenadores</h5>
				<ul>
					<li><a href="a_marcozero.html"><strong>Marco Zero</strong></a></li>
					<li><a href="b_linguagem.html"><strong>Escolha das Linguagens</strong></a></li>
					<li><a href="c_relatorio_01.html"><strong>Relatórios de Conteúdo</strong></a></li>
				</ul>
			</div>
			<div class="col max no-title">
				<ul>
					<li><a href="d_relatorio_f.html"><strong>Relatório Final</strong></a></li>
					<li><a href="e_relatorio_edu.html"><strong>Relatório Educadores</strong></a></li>
				</ul>
			</div>
			<div class="col max">
				<h5>Contato Oi Futuro</h5>
				<ul>
					<li><strong>Edson Cardoso Nunes</strong></li>
					<li><a href="#">edson@oifuturo.gov.br</a></li>
					<li>21 9000-0000 (ramal 001)</li>
				</ul>
			</div>
			<div class="col min">
				<h5>Ações</h5>
				<ul>
					<li><a href="#"><strong>Imprimir página</strong></a></li>
					<li><a href="#"><strong>Voltar ao topo</strong></a></li>
					<li><a href="#"><strong>Efetuar log-off</strong></a></li>
				</ul>
			</div>
		</div>

	</div>

</body>



</html>