<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">



<head>
    <title>OI KABUM! Extranet</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="OI KABUM!" />
    <meta name="keywords" content="OI KABUM!" />

	<style type="text/css">
		/*<![CDATA[*/
		@import url('../stylesheets/all.css');
		/*]]>*/
	</style>

	<!--[if lte IE 6]><style type="text/css">/*<![CDATA[*/@import url('../stylesheets/ie6.css');/*]]>*/</style><![endif]-->
</head>



<body class="interna">

	<div id="popup">
		<div class="fechar"><a href="#" class="lbAction" rel="deactivate">Fechar Janela</a></div>
		<div class="box">
			<div class="foto">
				<img src="../xtra/thumb01.png" width="117" height="117" alt="Thumb01" />
			</div>

			<div class="nome">
				<h2>Sérgio Eduardo Itajahy Pinto da Costa</h2>
			</div>

			<div class="aluno">
				<p class="left">16 anos <span class="separa">|</span> <a href="#">eduardo@gmail.com</a> <span class="separa">|</span> aluno</p>
				<p class="right"><a href="#">imprimir ficha</a></p>
			</div>

			<div class="linguagem">
				<p class="left">fotografia</p>
				<p class="right"><a href="#">anterior</a> <span class="separa">|</span> <a href="#">próximo</a></p>
			</div>

			<div class="corpo">
				<h4>Grau de conhecimento antes de entrar na escola <small>(informática e/ou linguagens específicas)</small>:</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit nisi neque, aliquet vel, dapibus id nisi, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.
					<a href="#" class="botao-inline">[leia&nbsp;mais]</a>
				</p>
				<hr />
				<h4>Grau de conhecimento antes de entrar na escola?</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi sodales leopsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nib justo.
					<a href="#" class="botao-inline">[leia&nbsp;mais]</a>
				</p>
				<hr />
				<h4>Grau de conhecimento antes de entrar na escola:</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus nibh nec dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
					<a href="#" class="botao-inline">[leia&nbsp;mais]</a>
				</p>
				<hr />
				<h4>Grau de conhecimento antes de entrar na escola:</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus nibh nec dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
					<a href="#" class="botao-inline">[leia&nbsp;mais]</a>
				</p>
			</div>
		</div>
	</div>

</body>



</html>
