<tr>
    <td>
        <%= f.select :contact_name, [['Homepage', 'homepage'],
                ['Blog', 'blog'],
                ['MySpace', 'myspace'],
                ['Facebook', 'facebook'],
                ['Orkut', 'orkut'],
                ['Youtube', 'youtube'],
                ['Outro', 'other']
        ] %>

    </td>
    <td>
        <%= if contact.new_record?
                f.text_field :value
            else
                final_report_items f, contact,
                               [[:value, :input, nil, '#{field_markup}']]
            end %>
    </td>
</tr>
