<% fields_for @student do |f| %>

<table>
    <tr>
        <th>Telefones</th>
        <th>E-mails</th>
        <th>Sites</th>
    </tr>
    <tr>
        <td>
            <table>
                <%= render_ro_contacts 'telephone' %>
            </table>
        </td>
        <td>
            <table>
                <%= render_ro_contacts 'email' %>
            </table>
        </td>
        <td>
            <table>
                <%= render_ro_contacts 'link' %>
            </table>
        </td>
    </tr>
</table>

<% end %>