
<h1><%= 'Dashboard'%> </h1>
<h2>Current user: <%= current_user.login %></h2>
<h3>Reports</h3>
<div>
    <ul>
        <% current_user.reports_with_deadlines.each do |rwd| %>
            <li>
                <% icon_file = case rwd.status
                when 1
                    'admin.png'
                when 2
                    'true.png'
                else
                    'false.png'
                end %>
                <%= image_tag icon_file %>&nbsp; &nbsp;
                <%= link_to rwd.name, eval(rwd.report.link) %>
            </li>

        <% end %>
    </ul>

</div>
