<ul id="dash" class="max2">
    <li class="col1">
        <h2>Detalhes de Preenchimento</h2>
        <ul id="dash-status">
            <% link_2_exists = false %>
            <% current_user.reports_with_deadlines.each do |rwd| %>
                <%= if rwd.report.report_type == 2 && current_user.user_type_id == 1
                        if !link_2_exists
                            link_2_exists = true
                            get_markup_for_rwd(rwd, 'Relatórios de conteúdo')
                            #'<li class="pendente"><a href="javascript:void(0)">Relatórios de conteúdo<small>em andamento</small></a></li>'
                        end
                else
                     get_markup_for_rwd(rwd)
                end
                    %>
            <% end %>
        </ul>
    </li>
    <li class="col2">
        <h2>Comentários do Oi Futuro</h2>
        <ul id="dash-comentarios">
            <li>
                <h4>09/02/2009 <span class="separa">|</span> Marco Zero:</h4>

                <p>Lorem ipsum dolor sit amet. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
                    dapibus id, mattis vel, nisi leo, eget blandit nunc tortor eu nibh.
                    <a class="botao-inline" href="#">[leia mais]</a>
                </p>
            </li>
            <li>
                <h4>09/02/2009 <span class="separa">|</span> Escolha das Linguagens:</h4>

                <p>Lorem ipsum dolor sit amet. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
                    dapibus id, mattis vel, nisi leo, eget blandit nunc tortor eu nibh.
                    <a class="botao-inline" href="#">[leia mais]</a>
                </p>
            </li>
        </ul>
    </li>
</ul>

