<ul><!-- TODO CONTEUDO ENTRA NESSA UL -->
  <%= render :partial => 'first_week_methodology' %>
  <%= render :partial => 'rotate_methodology' %>
</ul>
<div id="finalizar">
  <a href="#">Finalizar Relatório</a>
</div>
