<ul>
    <li>
        <h3 class='aberto'><a href='#'>Novo registro</a></h3>
        <div id='student_profile_job_record_create_edit_form'>
            <%= render :partial => 'job_records/job_record_new', :object => @job_record %>
        </div>
    </li>
    <li>
        <ol>
            <div id='student_profile_job_record_list'>
                <%= render :partial => 'job_records/job_record_row', :collection => student.job_records %>
            </div>
        </ol>
    </li>

</ul>
