<p>
  <b>Student:</b>
  <%=h @student_professional_profile.student_id %>
</p>


<%= link_to 'Edit', edit_student_professional_profile_path(@student_professional_profile) %> |
<%= link_to 'Back', student_professional_profiles_path %>
