<div id='by_language_<%= language.id %>_div'>
    <h2><%= language.name %></h2>
    <table id='by_language_<%= language.id %>_list'>
        <tr>
            <th>Atividades</th>
            <th>Periodo</th>
            <th>Propostas</th>
            <th>O que fazer?</th>
        </tr>
        <%= render :partial => 'activities/by_language_list_item',
                   :collection => language.activities %>
    </table>
</div>
