<% activities.group_by(&:language).each do |lang, activities| %>
<h2><%= lang.name %></h2>
    <div>
        <table id='by_language_<%= lang.id %>_list'>
            <tr>
                <th>Atividades</th>
                <th>Periodo</th>
                <th>Propostas</th>
            </tr>
            <%= render :partial => 'activities/by_language_list_item',
                       :collection => activities %>
        </table>
    </div>
<% end %>
