<tr id='<%= "trimestrial_report_activity_row_#{report_activity_row.id}" %>'>
    <td>
        <%= h report_activity_row.name %>
    </td>
    <td>
        <%= report_activity_row.date %>
    </td>
    <td>
        <%= h report_activity_row.observations %>
    </td>
</tr>
