<div id='project_team_member_create_edit_form'>
<%= render :partial => 'project_team_members/team_member_new', :object => ProjectTeamMember.new(:course_id => show_for_course) %>
</div>
<ul class="table">
  <li>
    <table id="project_team_members_table" summary="">
      <thead>
        <tr>
          <td class="w150">Nome</td>
          <td>Descrição</td>
          <td class="w75 no-print">Currículo</td>
          <td class="w75 no-print">Ações</td>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => 'project_team_members/team_member_row', :collection => show_for_course.team_members %>
      </tbody>
    </table>
  </li>
</ul>
