<% m = team_member_row %>
<tr>
    <td><%= m.name %></td>
    <td><%= m.function %></td>
    <td><%= m.competencies %></td>
    <td><%= 'view curriculum' %></td>
    <td>[editar]  [excluir]</td>
</tr>
