<% if rep_with_deadline.status == 2 %>
    <h2>Report is finalized. Thanks for cooperation.</h2>
<% end %>
<% if rep_with_deadline.is_editable %>
    <%= javascript_tag "
      document.observe('dom:loaded', function(event) {
          Editable.setupAll();
      });" %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<% end %>
